DemoApp/Defs/Bufdir-Barnevern-Generelt_v0.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Henvisning fra kommunal barneverntjeneste til Bufetat -->
<!-- Maintainers:
Bjorge.Saether@bufdir.no
 -->
<!-- Behov for endringer i Barnevern<versjon>.xsd:
- targetNamespace for xsd
- Personalia
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://Bufdir.no/Barnevern/Generelt_v0.1.0" targetNamespace="https://Bufdir.no/Barnevern/Generelt_v0.1.0" elementFormDefault="qualified" version="0.1.0">
	<!-- Typedeklarasjoner -->
	<xs:simpleType name="FulltNavnType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="Fritekst">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Enlinje">
		<xs:restriction base="xs:string">
			<xs:maxLength value="150" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PostadresseType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UUIDType">
		<xs:annotation>
			<xs:documentation>
			UUID i format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JaNeiType">
		<xs:annotation>
			<xs:documentation>
                0 = Nei
                1 = Ja
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatsborgerskapType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Norsk"/>
			<xs:enumeration value="Annet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MorsmalType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Norsk"/>
			<xs:enumeration value="Annet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EtniskTilhorighetType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Norsk"/>
			<xs:enumeration value="Annet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UtenlandskStatsborgerType">
		<xs:sequence>
			<xs:element name="Statsborgerskap" type="StatsborgerskapType"/>
			<xs:element name="Morsmal" type="MorsmalType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Morsmål</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EtniskTilhorighet" type="EtniskTilhorighetType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Etnisk tilhørighet</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BehovForTolk" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Behov for tolk</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KontaktpersonType">
		<xs:sequence>
			<xs:element name="Navn" type="FulltNavnType"/>
			<xs:element name="Telefon" type="xs:string"/>
			<xs:element name="epost"  type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FodselsdatoType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Barnets fødselsdato</ledetekst>
				<veiledning>For ufødte barn oppgis termindato</veiledning>
            </xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1998-01-01"/>
			<xs:maxInclusive value="2029-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FodselsnummerType">
		<xs:annotation>
			<xs:documentation>Fødselsnummer (https://www.udi.no/ord-og-begreper/fodselsnummer/),
                D-nummer (https://www.udi.no/ord-og-begreper/d-nummer/),
                fødselsdato (DDMMÅÅ) + 00100,
                fødselsdato (DDMMÅÅ) + 00200,
                fødselsdato (DDMMÅÅ) + 55555,
                fødselsdato (DDMMÅÅ) + 99999
            </xs:documentation>
            <xs:appinfo>
				<ledetekst>Fødsesnummer</ledetekst>
				<veiledning>Fødselsnummer eller D-nummer</veiledning>
            </xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="11"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KjonnFregType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Kjønn</ledetekst>
				<veiledning>Kjønn som det er registrert i FREG</veiledning>
			</xs:appinfo>
			<xs:documentation xml:lang="no">
                                1 = Mann / Gutt
                                2 = Kvinne / Jentes
                            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KjonnsIdentitetType">
		<xs:annotation>
			<xs:documentation>
									Brukes hvis barnes kjønnsidentitet ikke samsvarer med 'kjønn' i FREG (mann/kvinne)
									</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Jente"/>
			<xs:enumeration value="Gutt"/>
			<xs:enumeration value="Annet"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DUFNummerType">
		<xs:annotation>
			<xs:documentation>DUF-nummer (https://www.udi.no/ord-og-begreper/duf-nummer/)
                            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BarnType">
		<xs:sequence>
			<xs:element name="Ufodt" type="xs:boolean">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Ufødt barn</ledetekst>
            </xs:appinfo>
		</xs:annotation>
			</xs:element>
			<xs:element name="EMA" type="xs:boolean"/>
			<xs:element name="Fodselsnummer" type="FodselsnummerType" minOccurs="1"/>
			<xs:element name="Fodseldato" type="FodselsdatoType" minOccurs="1"/>
			<xs:element name="KjonnFreg" type="KjonnFregType" minOccurs="1"/>
			<xs:element name="DUFnummer" type="DUFNummerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NettverkRelasjonType">
		<xs:annotation>
			<xs:documentation xml:lang="no">
                1 = Mor
                2 = Far
				9 = Annet
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KontaktFrekvensType">
		<xs:annotation>
			<xs:documentation xml:lang="no">
                1 = Regelmessig
                2 = Sporadisk
				3 = Ingen
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OmsorgType">
		<xs:annotation>
			<xs:documentation xml:lang="no">
                1 = Foreldreansvar
                2 = Daglig omsorg
				3 = Ingen
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NettverkPersonType">
		<xs:sequence>
			<xs:element name="Relasjon" type="NettverkRelasjonType"/>
			<xs:element name="Personalia" type="KontaktpersonType"/>
			<xs:element name="BorMedBarnet" type="xs:boolean">
				<xs:annotation>
				<xs:appinfo>
					<ledetekst>Bor med barnet</ledetekst>
					<veiledning></veiledning>
            </xs:appinfo>
		</xs:annotation>
			</xs:element>
			<xs:element name="Adresse" type="PostadresseType"/>
			<xs:element name="UtenlandskStatsborger" type="UtenlandskStatsborgerType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KontaktFrekvens" type="KontaktFrekvensType">
				<xs:annotation>
					<xs:documentation>Kontakt med barnet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Omsorg" type="OmsorgType">
				<xs:annotation>
					<xs:documentation>Omsorgssituasjon</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NettverkType">
		<xs:sequence>
			<xs:element name="Person" type="NettverkPersonType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IndividuellPlanStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="no">
				1 = Foreligger
				2 = Under arbeid
				3 = Vurderes
				4 = Ikke aktuell
            </xs:documentation>
            <xs:appinfo>
				<ledetekst>Status</ledetekst>
            </xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Foreligger"/>
			<xs:enumeration value="Under arbeid"/>
			<xs:enumeration value="Vurderes"/>
			<xs:enumeration value="Ikke aktuell"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndividuellPlanType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Individuell plan</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="IndividuellPlanStatusType"/>
			<xs:element name="Kontaktperson" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Kontaktperson</ledetekst>
						<veiledning>Kontaktperson/koordinator for individuell plan (fullt navn)</veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="KunnskapsmodellOmradeType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Område</ledetekst>
						<veiledning>Område i kunnskapsmodellen</veiledning>
					</xs:appinfo>
				</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Helse"/>
			<xs:enumeration value="Barnehage og skole"/>
			<xs:enumeration value="Følelser og uttrykk"/>
			<xs:enumeration value="Venner og fritid"/>
			<xs:enumeration value="Grunnleggende omsorg"/>
			<xs:enumeration value="Følelsesmessig tilgjengelighet"/>
			<xs:enumeration value="Stimulering og veiledning"/>
			<xs:enumeration value="Beskyttelse"/>
			<xs:enumeration value="Familieforhold"/>
			<xs:enumeration value="Bolig, økonomi og arbeid"/>
			<xs:enumeration value="Nettverk og sosial integrering"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OmradeSituasjonType">
		<xs:sequence>
			<xs:element name="Omrade" type="KunnskapsmodellOmradeType">
				<xs:annotation>
					<xs:appinfo>
						<controlType>CheckboxEnum</controlType>
						<controlVisible>Beskrivelse</controlVisible>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeskrivelseFungering" type="Fritekst" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Beskrivelse av barnets fungering</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeskrivelseBehov" type="Fritekst" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Vurdering av behov for bistand</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BarnetsSituasjonType">
		<xs:annotation>
			<xs:appinfo>
				<iterer>Omrade/Omrade</iterer>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Omrade" type="OmradeSituasjonType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DagtilbudTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="no">
                1 = Ingen
                2 = Barnehage
				3 = Skole
				3 = Arbeid
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DagtilbudType">
		<xs:annotation>
					<xs:appinfo>
						<ledetekst>4.4	Dagtilbud- barnehage/skole/arbeid</ledetekst>
					</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="DagtilbudTypeType">
		<xs:annotation>
					<xs:appinfo>
						<ledetekst>Type</ledetekst>
					</xs:appinfo>
		</xs:annotation>
			</xs:element>
			<xs:element name="DagtilbudNavn" type="Enlinje">
		<xs:annotation>
					<xs:appinfo>
						<ledetekst>Navn</ledetekst>
						<veiledning>Nåværende barnehage, skole eller arbeidsgiver (navn/tittel)</veiledning>
					</xs:appinfo>
		</xs:annotation>
			</xs:element>
			<xs:element name="DagtilbudAdresse" type="Enlinje">
		<xs:annotation>
					<xs:appinfo>
						<ledetekst>Adresse</ledetekst>
					</xs:appinfo>
		</xs:annotation>
			</xs:element>
			<xs:element name="Regelemessig" type="xs:boolean">
		<xs:annotation>
					<xs:appinfo>
						<ledetekst>Deltar regelmessig</ledetekst>
					</xs:appinfo>
		</xs:annotation>

			</xs:element>
			<xs:element name="OpplaeingsplanForeligger" type="xs:boolean">
		<xs:annotation>
					<xs:appinfo>
						<ledetekst>Individuell opplæringsplan foreligger</ledetekst>
					</xs:appinfo>
		</xs:annotation>

			</xs:element>
		</xs:sequence>
	</xs:complexType>
				<xs:simpleType name="LovType">
				<xs:annotation>
				<xs:documentation>
					1 = BVL
					2 = BVL2021
				</xs:documentation>
				</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>

	<xs:complexType name="LovhjemmelType">
		<xs:sequence>
			<xs:element name="Lov" type="LovType">
			</xs:element>
			<xs:element name="Kapittel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
						<xs:pattern value="\d+[a-z]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Paragraf">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="4"/>
						<xs:pattern value="\d+[a-z]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ledd" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
						<xs:pattern value="\d+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bokstav" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
						<xs:pattern value="[a-z]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Punktum" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
						<xs:pattern value="\d+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="VedtakStatusType">
		<xs:annotation>
			<xs:documentation>
                                1 = Godkjent
                                2 = Begjæring oversendt nemnd
                                3 = Utgår / Bortfalt etter BVL
                                4 = Avslått / Avsluttet
                            </xs:documentation>
			<xs:appinfo xml:lang="json">
                                {
                                "type":"codelist",
                                "term":"Vedtak",
                                "title":"Status",
                                "path":"/Barnevern/Sak/Vedtak/Status/@Kode",
                                "items":[
                                {"code" : "1", "validFrom" : "2022-01-01", "title" : "Godkjent"},
                                {"code" : "2", "validFrom" : "2022-01-01", "title" : "Begjæring oversendt nemnd "},
                                {"code" : "3", "validFrom" : "2022-01-01", "title" : "Utgår / Bortfalt etter BVL "},
                                {"code" : "4", "validFrom" : "2022-01-01", "title" : "Avslått / Avsluttet "}
                                ]
                                }
                            </xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VedtakBakgrunnType">
		<xs:annotation>
			<xs:documentation>
			1 = Forhold ved omsorgen i hjemmet 
			2 = Alvorlige atferdsvansker
			3 = Vedvarende rusmisbruk
			</xs:documentation>
		</xs:annotation>		
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="VedtakType">
		<xs:annotation>
					<xs:appinfo>
						<ledetekst>Bakgrunn for vedtak</ledetekst>
					</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			
			<xs:element name="Bakgrunn" type="VedtakBakgrunnType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Bakgrunn for vedtak</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="Lovhjemmel" type="LovhjemmelType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Lovhjemmel</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="JmfrLovhjemmel" type="LovhjemmelType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Jfr. lovhjemmel</ledetekst>
						<veiledning>Max. 3 jfr-hjemler</veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="VedtakStatusType"/>
			<xs:element name="Dato" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
                    <veiledning>Dato vedtak fattet</veiledning>
                </xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TiltakTypeType">
		<xs:annotation>
			<xs:documentation>
                    1.1 = Barnvernsinstitusjoner (gjelder alle typer barnevernsinstitusjoner)
                    1.2 = Plassering i institusjon etter annen lov
                    1.99 = Andre tiltak (krever presisering)
                    2.1 = Fosterhjem i familie og nære nettverk
                    2.2 = Fosterhjem utenfor familie og nære nettverk
                    2.3 = Statlige familiehjem (gjelder fosterhjem som staten har ansvar for)
                    2.4 = Fosterhjem etter BVL2021 § 6-3 (tidligere BVL1992 § 4-27)
                    2.5 = Beredskapshjem utenom familie og nære nettverk
                    2.6 = Midlertidig hjem i familie og nære nettverk
                    2.99 = Andre tiltak (krever presisering)
                    3.1 = MST
                    3.2 = PMTO
                    3.3 = FFT
                    3.4 = Weber Stratton
                    3.5 = ICDP
                    3.6 = Marte Meo
                    3.7 = Andre hjemmebaserte tiltak (gjelder andre tiltak i hjemmet som følger en spesiell metodikk og
                    som gjenomføres på en systematisk måte) (krever presisering)
                    3.8 = Sentre for foreldre og barn
                    3.9 = Vedtak om råd og veiledning
                    3.10 = Hjemmekonsulent/miljøarbeider
                    3.99 = Andre tiltak (krever presisering)
                    4.1 = Barnehage
                    4.2 = SFO/ Aktivitetsskole
                    4.3 = Fritidsaktiviteter
                    4.4 = Økonomisk hjelp for øvrig (gjelder økonomisk hjelp som ikke inngår i 4.1, 4.2 og 4.3)
                    4.5 = Besøkshjem/ avlastningstiltak
                    4.6 = Støttekontakt
                    4.7 = Samtalegrupper/ barnegrupper (gjelder strukturerte samtale- og aktivitetstilbud for
                    aldersbestemte grupper).
                    4.8 = Utdanning og arbeid (gjelder oppfølging og støtte for å styrke barn og ungdoms tilknytning til
                    skole eller arbeid)
                    4.9 = ART
                    4.99 = Andre tiltak (krever presisering)
                    5.1 = Frivillig tilsyn i hjemmet (gjelder der foreldre har samtykket til tilsyn)
                    5.2 = Pålagt tilsyn i hjemmet (gjelder der tilsyn skjer etter vedtak i fylkesnemnd)
                    5.3 = Tilsyn under samvær
                    5.4 = Ruskontroll
                    5.99 = Andre tiltak (krever presisering)
                    6.1 = Familieråd
                    6.2 = Nettverksmøter (Strukturerte dialogmøter som består av barneverntjenesten, foreldre og ungdom
                    og andre personer som er viktige i ungdommens liv. Invitasjon av deltakere skjer i samråd mellom
                    barneverntjenesten, ungdom og foreldre)
                    6.3 = Individuell plan
                    6.4 = Deltakelse i ansvarsgruppe
                    6.99 = Andre tiltak (krever presisering)
                    7.1 = BVL2021 § 3-7 (tidligere BVL1992 § 4-10) medisinsk undersøkelse og behandling
                    7.2 = BVL2021 § 3-8 (tidligere BVL1992 § 4-11) behandling av barn med særlige opplæringsbehov
                    7.3 = Psykisk helsehjelp for barn og unge (Gjelder ikke ved henvisninger, men når barn får
                    behandling av psykolog eller innen psykisk helsevern/BUP)
                    7.99 = Andre tiltak (krever presisering)
                    8.1 = Økonomisk hjelp til egen bolig/hybel
                    8.2 = Bolig med oppfølging (inkluderer også bofellesskap)
                    8.3 = Botreningskurs
                    8.99 = Andre tiltak (krever presisering)
                </xs:documentation>
			<xs:appinfo xml:lang="json">
                    {
                    "type":"codelist",
                    "term":"Tiltak",
                    "title":"Kategori",
                    "path":"/Barnevern/Sak/Tiltak/Kategori/@Kode",
                    "items":[
                    {"code" : "1.1", "validFrom" : "2013-01-01", "title" : "Barnvernsinstitusjoner (gjelder alle typer
                    barnevernsinstitusjoner)"},
                    {"code" : "1.2", "validFrom" : "2013-01-01", "title" : "Plassering i institusjon etter annen lov"},
                    {"code" : "1.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "2.1", "validFrom" : "2013-01-01", "title" : "Fosterhjem i familie og nære nettverk"},
                    {"code" : "2.2", "validFrom" : "2013-01-01", "title" : "Fosterhjem utenfor familie og nære
                    nettverk"},
                    {"code" : "2.3", "validFrom" : "2013-01-01", "title" : "Statlige familiehjem (gjelder fosterhjem som
                    staten har ansvar for)"},
                    {"code" : "2.4", "validFrom" : "2013-01-01", "title" : "Fosterhjem etter BVL2021 § 6-3 (tidligere
                    BVL1992 § 4-27)"},
                    {"code" : "2.5", "validFrom" : "2013-01-01", "title" : "Beredskapshjem utenom familie og nære
                    nettverk"},
                    {"code" : "2.6", "validFrom" : "2021-01-01", "title" : "Midlertidig hjem i familie og nære
                    nettverk"},
                    {"code" : "2.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "3.1", "validFrom" : "2013-01-01", "title" : "MST"},
                    {"code" : "3.2", "validFrom" : "2013-01-01", "title" : "PMTO"},
                    {"code" : "3.3", "validFrom" : "2013-01-01", "title" : "FFT"},
                    {"code" : "3.4", "validFrom" : "2013-01-01", "title" : "Weber Stratton"},
                    {"code" : "3.5", "validFrom" : "2013-01-01", "title" : "ICDP"},
                    {"code" : "3.6", "validFrom" : "2013-01-01", "title" : "Marte Meo"},
                    {"code" : "3.7", "validFrom" : "2013-01-01", "title" : "Andre hjemmebaserte tiltak (gjelder andre
                    tiltak i hjemmet som følger en spesiell metodikk og som gjenomføres på en systematisk måte) (krever
                    presisering)"},
                    {"code" : "3.8", "validFrom" : "2013-01-01", "title" : "Sentre for foreldre og barn"},
                    {"code" : "3.9", "validFrom" : "2013-01-01", "title" : "Vedtak om råd og veiledning"},
                    {"code" : "3.10", "validFrom" : "2013-01-01", "title" : "Hjemmekonsulent/miljøarbeider"},
                    {"code" : "3.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "4.1", "validFrom" : "2013-01-01", "title" : "Barnehage"},
                    {"code" : "4.2", "validFrom" : "2013-01-01", "title" : "SFO/ Aktivitetsskole"},
                    {"code" : "4.3", "validFrom" : "2013-01-01", "title" : "Fritidsaktiviteter"},
                    {"code" : "4.4", "validFrom" : "2013-01-01", "title" : "Økonomisk hjelp for øvrig (gjelder økonomisk
                    hjelp som ikke inngår i 4.1, 4.2 og 4.3)"},
                    {"code" : "4.5", "validFrom" : "2013-01-01", "title" : "Besøkshjem/ avlastningstiltak"},
                    {"code" : "4.6", "validFrom" : "2013-01-01", "title" : "Støttekontakt"},
                    {"code" : "4.7", "validFrom" : "2013-01-01", "title" : "Samtalegrupper/ barnegrupper
                    (gjelderstrukturerte samtale- og aktivitetstilbud for aldersbestemte grupper)."},
                    {"code" : "4.8", "validFrom" : "2013-01-01", "title" : "Utdanning og arbeid (gjelder oppfølging og
                    støtte for å styrke barn og ungdoms tilknytning til skole eller arbeid)"},
                    {"code" : "4.9", "validFrom" : "2013-01-01", "title" : "ART"},
                    {"code" : "4.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "5.1", "validFrom" : "2013-01-01", "title" : "Frivillig tilsyn i hjemmet (gjelder der
                    foreldre har samtykket til tilsyn)"},
                    {"code" : "5.2", "validFrom" : "2013-01-01", "title" : "Pålagt tilsyn i hjemmet (gjelder der tilsyn
                    skjer etter vedtak i fylkesnemnd)"},
                    {"code" : "5.3", "validFrom" : "2013-01-01", "title" : "Tilsyn under samvær"},
                    {"code" : "5.4", "validFrom" : "2013-01-01", "title" : "Ruskontroll"},
                    {"code" : "5.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "6.1", "validFrom" : "2013-01-01", "title" : "Familieråd"},
                    {"code" : "6.2", "validFrom" : "2013-01-01", "title" : "Nettverksmøter (Strukturerte dialogmøter som
                    består av barneverntjenesten, foreldre og ungdom og andre personer som er viktige i ungdommens liv.
                    Invitasjon av deltakere skjer i samråd mellom barneverntjenesten, ungdom og foreldre)"},
                    {"code" : "6.3", "validFrom" : "2013-01-01", "title" : "Individuell plan"},
                    {"code" : "6.4", "validFrom" : "2013-01-01", "title" : "Deltakelse i ansvarsgruppe"},
                    {"code" : "6.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "7.1", "validFrom" : "2013-01-01", "title" : "BVL2021 § 3-7 (tidligere BVL1992 § 4-10)
                    medisinsk undersøkelse og behandling"},
                    {"code" : "7.2", "validFrom" : "2013-01-01", "title" : "BVL2021 § 3-8 (tidligere BVL1992 § 4-11)
                    behandling av barn med særlige opplæringsbehov"},
                    {"code" : "7.3", "validFrom" : "2013-01-01", "title" : "Psykisk helsehjelp for barn og unge (Gjelder
                    ikke ved henvisninger, men når barn får behandling av psykolog eller innen psykisk helsevern/BUP)"},
                    {"code" : "7.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"},
                    {"code" : "8.1", "validFrom" : "2013-01-01", "title" : "Økonomisk hjelp til egen bolig/hybel"},
                    {"code" : "8.2", "validFrom" : "2013-01-01", "title" : "Bolig med oppfølging (inkluderer også
                    bofellesskap)"},
                    {"code" : "8.3", "validFrom" : "2013-01-01", "title" : "Botreningskurs"},
                    {"code" : "8.99", "validFrom" : "2013-01-01", "title" : "Andre tiltak (krever presisering)"}
                    ]
                    }
                </xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
			<xs:enumeration value="1.1"/>
			<xs:enumeration value="1.2"/>
			<xs:enumeration value="1.99"/>
			<xs:enumeration value="2.1"/>
			<xs:enumeration value="2.2"/>
			<xs:enumeration value="2.3"/>
			<xs:enumeration value="2.4"/>
			<xs:enumeration value="2.5"/>
			<xs:enumeration value="2.6"/>
			<xs:enumeration value="2.99"/>
			<xs:enumeration value="3.1"/>
			<xs:enumeration value="3.2"/>
			<xs:enumeration value="3.3"/>
			<xs:enumeration value="3.4"/>
			<xs:enumeration value="3.5"/>
			<xs:enumeration value="3.6"/>
			<xs:enumeration value="3.7"/>
			<xs:enumeration value="3.8"/>
			<xs:enumeration value="3.9"/>
			<xs:enumeration value="3.10"/>
			<xs:enumeration value="3.99"/>
			<xs:enumeration value="4.1"/>
			<xs:enumeration value="4.2"/>
			<xs:enumeration value="4.3"/>
			<xs:enumeration value="4.4"/>
			<xs:enumeration value="4.5"/>
			<xs:enumeration value="4.6"/>
			<xs:enumeration value="4.7"/>
			<xs:enumeration value="4.8"/>
			<xs:enumeration value="4.9"/>
			<xs:enumeration value="4.99"/>
			<xs:enumeration value="5.1"/>
			<xs:enumeration value="5.2"/>
			<xs:enumeration value="5.3"/>
			<xs:enumeration value="5.4"/>
			<xs:enumeration value="5.99"/>
			<xs:enumeration value="6.1"/>
			<xs:enumeration value="6.2"/>
			<xs:enumeration value="6.3"/>
			<xs:enumeration value="6.4"/>
			<xs:enumeration value="6.99"/>
			<xs:enumeration value="7.1"/>
			<xs:enumeration value="7.2"/>
			<xs:enumeration value="7.3"/>
			<xs:enumeration value="7.99"/>
			<xs:enumeration value="8.1"/>
			<xs:enumeration value="8.2"/>
			<xs:enumeration value="8.3"/>
			<xs:enumeration value="8.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersjonType">
		<xs:annotation>
			<xs:documentation>
			   Versjonsnummer i formen '1', '1.1', '1.1.1', '1.1.1.2345'
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="^(\d+\.)?(\d+\.)?(\d+\.)?(\*|\d+)$"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BufetatTjenesteType">
		<xs:annotation>
			<xs:documentation>
			1 = Senter for foreldre og barn hjelpetiltak 
			2 = Fosterhjem 
			3 = Omsorgsinstitusjon 
			4 = Behandlingsinstitusjon 
			5 = Senter for foreldre og barn utredning		
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisasjonType">
		<xs:sequence>
			<xs:element name="Organisasjonsnummer">
				<xs:annotation>
					<xs:documentation>
                    Organisasjonsnummer, avgiverkommune.
                </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="9"/>
						<xs:maxLength value="9"/>
						<xs:pattern value="\d{9}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Kommunenummer">
				<xs:annotation>
					<xs:documentation>
                    4-sifret kommunenummer, avgiverkommune.
                </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:maxLength value="4"/>
						<xs:pattern value="\d{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Kommunenavn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Navn, avgiverkommune.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bydelsnummer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>2-sifret bydelsnummer. Benyttes kun for kommuner med bydeler.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
						<xs:pattern value="\d{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bydelsnavn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bydelsnavn. Eksempel: 'Gamle Oslo'. Benyttes kun for kommuner med bydeler.
                </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MedvirkningAktorType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Hvem har medvirket i prosessen?</ledetekst>
			</xs:appinfo>
			<xs:documentation>
		1 = Barnet
		2 = Mor
		3 = Far
		4 = Verge
		5 = Tillitsperson
		9 = Andre
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AntallTiltakFlyttingerType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Antall ganger barnet har vært plassert i tiltak/flyttinger</ledetekst>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MedvirkningType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Medvirkning</ledetekst>
				<veiledning>Barns rett til medvirkning omfatter både en rett for barnet til å få relevant informasjon tilpasset barnets alder og modenhet, en rett til å uttrykke seg fritt og uhindret, retten til å bli lyttet til og at barnets mening skal tillegges vekt ved beslutninger som berører barnet."</veiledning>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Aktor" type="MedvirkningAktorType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo><ledetekst>Hvem har medvirket i prosessen?</ledetekst></xs:appinfo>
					<xs:documentation>Barnet, Mor, Far, Verge, Tillitsperson, Andre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InformasjonGittBarnet" type="Fritekst" >
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Hvilken informasjon om fosterhjem og henvisning til fosterhjem er gitt til barnet?</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InformasjonForstatt" type="Fritekst" >
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Hvordan har barnevernstjenesten sikret at barnet utelukkende har fått og forstått informasjon tilpasset alder og modenhet?</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rammer" type="Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Rammer for medvirkning</ledetekst>
						<veiledning>På hvilken måte er det lagt til rette for trygge rammer for barnets deltakelse?
Hvor, når, med hvem og hvordan har barnet medvirket?
Har barnet fritt og uhindret fått fylle ut sin egen del av skjemaet?
						</veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="VektingAvBarnetsSysnpunkt" type="Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Vekting av barnets synspunkter</ledetekst>
						<veiledning>-	Hvordan er barnets synspunkter, meninger og tanker vektlagt i forhold som vedrører barnet?
-	Hvilke ønsker har barnet knyttet til medvirkning fremover i tid?
</veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeldrenesMedvirkning" type="Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Foreldrenes medvirkning</ledetekst>
						<veiledning>-	Hvordan har barnevernstjenesten sikret at foreldrenes rett til medvirkning er ivaretatt i henvisningsprosessen?
-	På hvilke måter har foreldrene medvirket i henvisningsprosessen
-	Hvilke ønsker har foreldrene for fosterhjemmet og barnets opphold der?
-	Hvordan har foreldrenes synspunkter og ønsker blitt vurdert i henvisningsprosessen?
</veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AndreOpplysninger" type="Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Andre relevante opplysninger og informasjon om medvirkningsprosessen</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>