DemoApp/Defs/Bufdir-Barnevern-Henvisning-2.linje_v0.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) by Barne-, Ungdoms- og Familiedirektor (Barne-, Ungdoms- og Familiedirektor) -->
<!-- Henvisning fra kommunal barneverntjeneste til Bufetat -->
<!-- Maintainer:
bjorge.saether@bufdir.no
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bv="https://Bufdir.no/Barnevern/Generelt_v0.1.0" xmlns:mld="https://Bufdir.no/Barnevern/Melding_v0.1.0" xmlns="https://Bufdir/Barnevern/Henvisning_2.linje_v0.1.0" targetNamespace="https://Bufdir/Barnevern/Henvisning_2.linje_v0.1.0" elementFormDefault="qualified" version="0.1.0">
	<xs:import namespace="https://Bufdir.no/Barnevern/Generelt_v0.1.0" schemaLocation="Bufdir-Barnevern-Generelt_v0.1.0.xsd"/>
	<xs:import namespace="https://Bufdir.no/Barnevern/Melding_v0.1.0" schemaLocation="Bufdir-Barnevern-Melding_v0.1.0.xsd"/>
	<!-- Typedeklarasjoner -->
	<xs:complexType name="BarnInformasjonHenvisningType">
		<xs:sequence>
			<xs:element name="Barn" type="bv:BarnType"/>
			<xs:element name="AntallTiltakFlyttinger" type="bv:AntallTiltakFlyttingerType"></xs:element>
			<xs:element name="TiltakHistorikk" type="bv:Fritekst" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Kronologisk oversikt over tiltak og begrunnelse</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UtenlandskBakgrunn" type="bv:UtenlandskStatsborgerType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BufetatBistandTypeType">
		<xs:annotation>
			<xs:documentation>
                    1.1 = Barnvernsinstitusjoner (gjelder alle typer barnevernsinstitusjoner)
                    2.2 = Fosterhjem utenfor familie og nære nettverk
                    2.3 = Statlige familiehjem (gjelder fosterhjem som staten har ansvar for)
                    2.4 = Fosterhjem etter BVL2021 § 6-3 (tidligere BVL1992 § 4-27)
                    2.5 = Beredskapshjem utenom familie og nære nettverk
                    3.1 = MST
                    3.2 = PMTO
                    3.3 = FFT
                    3.7 = Andre hjemmebaserte tiltak (gjelder andre tiltak i hjemmet som følger en spesiell metodikk og
                    som gjenomføres på en systematisk måte) (krever presisering)
                    3.8 = Sentre for foreldre og barn
                    7.1 = BVL2021 § 3-7 (tidligere BVL1992 § 4-10) medisinsk undersøkelse og behandling
                </xs:documentation>
			<xs:appinfo>
				<subsetOf>bv:TiltakTypeType</subsetOf>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="bv:TiltakTypeType">
			<xs:enumeration value="1.1"/>
			<xs:enumeration value="2.2"/>
			<xs:enumeration value="2.3"/>
			<xs:enumeration value="2.4"/>
			<xs:enumeration value="2.5"/>
			<xs:enumeration value="3.1"/>
			<xs:enumeration value="3.2"/>
			<xs:enumeration value="3.3"/>
			<xs:enumeration value="3.7"/>
			<xs:enumeration value="3.8"/>
			<xs:enumeration value="7.1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FosterhjemBistandTypeType">
		<xs:annotation>
			<xs:documentation>
                    2.2 = Fosterhjem utenfor familie og nære nettverk
                    2.3 = Statlige familiehjem (gjelder fosterhjem som staten har ansvar for)
                    2.4 = Fosterhjem etter BVL2021 § 6-3 (tidligere BVL1992 § 4-27)
                    2.5 = Beredskapshjem utenom familie og nære nettverk
                </xs:documentation>
			<xs:appinfo>
				<subsetOf>BufetatBistandTypeType</subsetOf>
				<ledetekst>Ønsket bistand</ledetekst>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="BufetatBistandTypeType">
			<xs:enumeration value="2.2"/>
			<xs:enumeration value="2.3"/>
			<xs:enumeration value="2.4"/>
			<xs:enumeration value="2.5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstitusjonBistandTypeType">
		<xs:annotation>
			<xs:documentation>
                    1.1 = Barnvernsinstitusjoner (gjelder alle typer barnevernsinstitusjoner)
                </xs:documentation>
			<xs:appinfo>
				<subsetOf>BufetatBistandTypeType</subsetOf>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="BufetatBistandTypeType">
			<xs:enumeration value="1.1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ViderePlanType">
		<xs:annotation>
			<xs:documentation>
				1 = Ikke nye tiltak
				2 = Hjelpetiltak i hjemmet
				3 = Fosterhjem
				4 = Institusjon
				5 = Etableres i egen bolig
				9 = Annet
            </xs:documentation>
			<xs:appinfo>
				<ledetekst>Videre plan</ledetekst>
				<veiledning>Kommunens foreløpige plan etter avslutning av tiltak</veiledning>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BufetatBistandType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst></ledetekst>
				<veiledning></veiledning>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DatoFra" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Fra dato</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatoTil" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Til dato</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Utdyping" type="bv:Fritekst" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Utdyping av behov</ledetekst>
						<veiledning></veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FosterhjemRammerType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>9. Rammer for fosterhjemmet</ledetekst>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GeografiskBeliggenhet" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Hensyn til geografisk beliggenhet</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="KanHaDyr" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Fosterhjemmet kan ha dyr</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FasteMedisiner" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Barnets faste medisiner</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Allergier" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Allergier og/eller andre hensyn</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BegrensningUtreise" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Eventuelle begrensninger for barnet til å reise ut av landet</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamvaerPersoner" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Hvem skal barnet ha samvær/kontakt med, og hvordan. Og skal det tilrettelegges for dette?</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamarbeidFamilie" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Hvilke forhold vil være viktig ved samarbeid med barnets foreldre og øvrig familie?</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForsterkningstitltakBehov" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Er det behov for forsterkningstiltak som frikjøp fra jobb, særskilt veiledning eller avlastning?</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SkjermetAdresse" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Er det behov for sperret adresse, sikkerhetsplan eller andre sikkerhetstiltak?</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Annet" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Annet</ledetekst>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BarnMedNettverkType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>3 - Informasjon om barnet, familie og omsorgssituasjon</ledetekst>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BarnInformasjon" type="BarnInformasjonHenvisningType"/>
			<xs:element name="Omsorgspersoner" type="bv:NettverkType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>3.4 Omsorgssituasjon</ledetekst>
				<veiledning>Informasjon om foreldre, foresatte, andre og barnets omsorgssituasjon</veiledning>
			</xs:appinfo>
		</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FellesHenvisningType">
		<xs:sequence>
			<xs:element name="OnsketBistand" type="BufetatBistandType"/>
			<xs:element name="Kontaktperson" type="bv:KontaktpersonType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Kontaktperson</ledetekst>
						<veiledning/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="KontaktpersonLeder" type="bv:KontaktpersonType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>Kontaktpersons leder</ledetekst>
						<veiledning/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BarnMedNettverk" type="BarnMedNettverkType"/>
			<xs:element name="Vedtak" type="bv:VedtakType"></xs:element>
			<xs:element name="IndividuellPlan" type="bv:IndividuellPlanType"/>
			<xs:element name="Dagtilbud" type="bv:DagtilbudType"/>
			<xs:element name="Medvirkning" type="bv:MedvirkningType"/>
			<xs:element name="BarnetsSituasjon" type="bv:BarnetsSituasjonType">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>6-8 Barnets nåsituasjon</ledetekst>
						<veiledning>Barnets nåsituasjon beskrevet med utgangspunkt i kunnskapsmodellens områder</veiledning>
					</xs:appinfo>
				</xs:annotation>
				<xs:unique name="uniktOmrade">
					<xs:selector xpath="Omrade"/>
					<xs:field xpath="."/>
				</xs:unique>
			</xs:element>
			<xs:element name="BistandSamletBehov" type="bv:Fritekst">
				<xs:annotation>
					<xs:appinfo>
						<ledetekst>10 Samlet vurdering av barnets behov for bistand</ledetekst>
						<veiledning>Her gjøres den samlede vurderingen av barnets behov for bistand. I dette inngår en totalvurdering av den beskyttelse og risiko som omgir barnet, og av barnets mottagelighet for ønsket tiltak. Dette innebefatter en samlet vurdering av de behov barnet må få tilfredsstilt for å kunne ha god utvikling. Barnets beste skal være et grunnleggende hensyn i dette.</veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanEtterOnsketTiltak" type="ViderePlanType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<ledetekst>Kommunens videre plan</ledetekst>
						<veiledning>Kommunens foreløpige plan etter avslutning av tiltak</veiledning>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FosterhjemHenvisningType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Fosterhjem</ledetekst>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OnsketBistandType" type="FosterhjemBistandTypeType"/>
			<xs:element name="FellesInfo" type="FellesHenvisningType"/>
			<xs:element name="FosterhjemRammer" type="FosterhjemRammerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstitusjonHenvisningType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Institusjon</ledetekst>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OnsketBistandType" type="InstitusjonBistandTypeType"/>
			<xs:element name="FellesInfo" type="FellesHenvisningType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HenvisningType">
		<xs:annotation>
			<xs:appinfo>
				<ledetekst>Henvisning Bufetat</ledetekst>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element name="MeldingHeader" type="mld:MeldingHeaderType"/>
			<xs:element name="FosterhjemHenvisning" type="FosterhjemHenvisningType"/>
			<xs:element name="InstitusjonHenvisning" type="InstitusjonHenvisningType"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Henvisning" type="HenvisningType"/>
</xs:schema>